<ng-container [ngSwitch]="getActivePage()">
  <app-main-layout>
    <app-confirmation *ngSwitchCase="availablePages.CONFIRMATION"></app-confirmation>
    <app-login *ngSwitchCase="availablePages.LOGIN"></app-login>
    <app-registration *ngSwitchCase="availablePages.REGISTRATION"></app-registration>
    <app-failed-attempt *ngSwitchCase="availablePages.FAILED_ATTEMPT"></app-failed-attempt>
    <app-home-page *ngSwitchCase="availablePages.HOME_PAGE"></app-home-page>
    <app-recover-password *ngSwitchCase="availablePages.RECOVER_PASSVORD"></app-recover-password>
  </app-main-layout>
</ng-container>