<div>
    <h2 class="text-uppercase text-center mb-5">{{'RECOVER_PASSWORD.RECOVER_PASSWORD_TEXT' | translate}}</h2>
    <label>
        <p class="label-txt">{{'COMMON.USERNAME' |translate}}</p>
        <input type="text" class="input" [(ngModel)]="username">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <div *ngFor="let error of getErrors()" showErrors>
        <span *ngIf="error.field === 'username'">
            {{'COMMON.ERRORS.FAILED' | translate}}
        </span>
    </div>
    <label>
        <p class="label-txt">{{'RECOVER_PASSWORD.NEW_PASSWORD' |translate}}</p>
        <input type="text" class="input" [(ngModel)]="newPassword">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <div *ngFor="let error of getErrors()" showErrors>
        <span *ngIf="error.field === 'password'">
            {{'COMMON.ERRORS.FAILED' | translate}}
        </span>
        <span *ngIf="error.field ==='exist_user'">
            {{'COMMON.ERRORS.EXIST_USER' | translate}}
        </span>
    </div>
    <button type="submit" (click)="recoverPassword(username, newPassword)">{{'RECOVER_PASSWORD.SAVE'
        |translate}}</button>
</div>